@model Booking.Model.Hotel

@{
    Layout = null;
}

<div>
    <div class="row">
        <table class="table table-border">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayFor(model => model.Name)</th>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Rating)</th>
                <td>@Html.DisplayFor(model => model.Rating)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Address)</th>
                <td>@Html.DisplayFor(model => model.Address)</td>
            </tr>
            <tr>
                <th> @Html.DisplayNameFor(model => model.City)</th>
                <td>@Html.DisplayFor(model => model.City)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Country)</th>
                <td>@Html.DisplayFor(model => model.Country)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.EntryDateTime)</th>
                <td><span>@Model.EntryDateTime.ToString("yyyy-MMM-dd")</span></td>
            </tr>
        </table>
    </div>

</div>

